{{>header}}
{{>nav}}
<form action="/getAddLogic" class="container my-3">
  <div class="form-group">
    <input class="my-1 form-control" name='email' value="{{user.email}}" placeholder="Enter email">
  </div>
   {{#if errorMessage.errors.email}}
  <div class="container alert alert-danger">{{errorMessage}}</div>
  {{/if}}
   <div class="form-group">
    <input  class="my-1 form-control" name='name' value="{{user.name}}" placeholder="Enter name">
  </div>
   {{#if errorMessage.errors.name}}
  <div class="container alert alert-danger">{{errorMessage}}</div>
  {{/if}}
   <div class="form-group">
    <input  class="my-1 form-control" name='age' value="{{user.age}}"  placeholder="Enter age">
  </div>
   {{#if errorMessage.errors.age}}
  <div class="container alert alert-danger">{{errorMessage}}</div>
  {{/if}}
  
  <div class="form-check form-switch">
  <input name="activeStatus" class="my-1 form-check-input" type="checkbox" role="switch"  id="flexSwitchCheckDefault" >
  <label class="form-check-label"  for="flexSwitchCheckDefault"> check if active user</label>
 </div>
  </div>

  <button type="submit" class="btn btn-primary">add user</button>
</form>
{{>footer}}